<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= private_meta_tag(@conn) %>
    <meta name="description" content="<%= Map.get(@conn.assigns, :description, "") %>">
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <title><%= title(@conn, "fediverse network") %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="apple-touch-icon" href="<%= static_path(@conn, "/images/apple-touch-icon.png") %>">
  </head>

  <body class="<%= Map.get(@conn.assigns, :body_class, "") %>">
    <%= if Fd.build_env() == :dev do %>
      <div style="background-color: #faa; border: 2px solid #f00; border-left: none; border-right:none; padding:8px;
      font-family: sans-serif; font-weight: 100; transform: rotate(-32deg); text-align: center; position: fixed;
      top: 32px; left: -164px; width: 512px; color: #a00; box-shadow: 0 0 5px 0 rgba(255,0,0,0.75);">DEVELOPMENT</div>
    <% end %>
    <div class="container">
      <header class="header">
        <nav role="navigation" class="float-md-right">
          <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link" href="/">instances</a></li>
            <li class="nav-item"><a class="nav-link" href="/servers">servers</a></li>
            <li class="nav-item"><a class="nav-link" href="/hosts">hosts</a></li>
            <li class="nav-item"><a class="nav-link" href="/manage" title="Manage your instance: Enable monitoring or hide from listings">manage</a></li>
          </ul>
        </nav>
        <h1><a href="/"><img src="<%= static_path(@conn, "/images/logo.svg") %>"/>&nbsp;fediverse network</a></h1>
      </header>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>


      <footer role="footer">
        <div class="container">
          <div class="row">

            <div class="col-sm-4">
              <p class="text-muted">
              <strong>fediverse.network</strong>
              <br /><br />
                <a href="/about">About</a><br />
                <a href="https://write.random.sh/fediversenetwork/">Changelog & updates</a><br />
                <a href="/checks">Latest checks</a><br />
                <br />
                <a href="/monitoring">Instance monitoring</a><br />
                <a href="/tools/nodeinfo">NodeInfo validator</a>
              </p>
            </div>

            <div class="col-sm-4 text-center">
              <p class="text-muted">
                <strong>Follow on the fediverse</strong><br />
                  <%= remote_follow(@conn, "watch", "@watch@fediverse.network", class: "btn btn-sm btn-link")
                  %><br /><i><small>(new instances, upgrades, …)</small></i>
                  <br/>
                  <%= remote_follow(@conn, "monitoring", "@monitoring@fediverse.network", class: "btn btn-sm btn-link") %>
                  <br /><i><small>(watch + up/down)</small></i>
              </p>
            </div>

            <div class="col-sm-4 text-right">
              <p class="text-muted">
                <strong>fediverse resources</strong>
                <br /><br />
                <a href="https://fediverse.party">fediverse.party</a>
                <br />
                <a href="https://fediverse.space">fediverse.space</a>
                <br />
                <a href="https://wedistribute.org">wedistribute.org</a>
                <br />
                <a href="https://switching.social">switching.social</a>
                <br />
                <a href="https://app.retribute.me">retribute.me</a>
                <br />
                <a href="https://distsn.org">distsn.org</a>
                <br />
                <a href="https://the-federation.info">the-federation.info</a>
                <br />
                <a href="https://instances.social">instances.social</a>
              </p>
            </div>

          </div>
        </div>
      </footer>
    </div> <!-- /container -->
  </body>
</html>
