<h2>latest checks</h2>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>instance</th>
      <th>time</th>
      <th>server</th>
      <th>signup</th>
      <th>users</th>
      <th>statuses</th>
      <th>peers</th>
      <th>emojis</th>
    </tr>
  </thead>
  <tbody>
    <%= for check <- @checks do %>
      <tr>
        <td><span class="badge badge-up-<%= to_string(check.up) %>">&nbsp;</span></td>
        <td>
          <%= if Fd.Instances.Instance.hidden?(check.instance) do %>
            <i class="text-muted">private</i>
          <% else %>
            <%= link FdWeb.InstanceView.name(check.instance), to: instance_path(@conn, :show, check.instance) %>
          <% end %>
          <%= if check.instance.dead, do: content_tag(:sup, "☨") %>
          <%= if check.instance.monitor, do: content_tag(:sup, raw("&#128065;")) %>
        </td>
        <td>
          <%= if Fd.Instances.Instance.hidden?(check.instance) do %>
            <%= link format_date(check.updated_at, "normal"), to: instance_check_path(@conn, :show, check.instance, NaiveDateTime.to_iso8601(check.updated_at)) %>
          <% else %>
            <%= format_date(check.updated_at, "normal") %>
          <% end %>
        </td>
        <%= if check.error_s do %>
          <td colspan=6><span class="text-danger"><%= check.error_s %></span></td>
        <% else %>
          <td><%= Fd.ServerName.from_int(check.instance.server) %> <%= check.version %></td>
          <td><%= check.signup %></td>
          <td><%= check.users %></td>
          <td><%= check.statuses %></td>
          <td><%= check.peers %></td>
          <td><%= check.emojis %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

