<h2>Hosting</h2>
<% instances_total = get_in(@stats, ["instances", "up"]) %>
<% users_total = get_in(@stats, ["users", "up"]) %>
<% statuses_total = get_in(@stats, ["statuses", "up"]) %>
<% countries = get_in(@stats, ["countries", "up"]) %>
<% percents_countries = Enum.map(countries || %{}, fn({country, %{"instances" => count}}) -> [country, count,
  Float.round(percentage(instances_total, count), 2)] end)
|> Enum.sort_by(fn([_, count, _]) -> count end) %>
<svg class="percent-horizontal-bar"
     data-controller="percent-horizontal-bar"
     data-ts="<%= Jason.encode!(percents_countries) %>"
     data-sort-by="value"
     data-sort-order="desc"
     data-color-scale="sequential"
     data-scheme="OrRd"
     >
</svg>
<% isps = get_in(@stats, ["isps", "up"]) %>
<% percents_isps = Enum.map(isps || %{}, fn({isp, %{"instances" => count}}) -> [isp, count,
  Float.round(percentage(instances_total, count), 2)] end)
|> Enum.sort_by(fn([_, count, _]) -> count end) %>
<svg class="percent-horizontal-bar"
     data-controller="percent-horizontal-bar"
     data-ts="<%= Jason.encode!(percents_isps) %>"
     data-sort-by="value"
     data-sort-order="desc"
     data-color-scale="sequential"
     data-scheme="Sinebow"
     >
</svg>

<div class="list-group">
  <%= for {host, idx} <- Enum.with_index(@isps) do %>
    <div class="list-group-item">
      <h4><strong>#<%= idx+1 %></strong> <%= host.isp %></h3>
      Instances: <%= number(host.count) %> (<%= Float.round(percentage(instances_total, host.count), 2) %>%)
      Users: <%= number(host.users) %> (<%= Float.round(percentage(users_total, host.users), 2) %>%)
      Statuses: <%= number(host.statuses) %> (<%= Float.round(percentage(statuses_total, host.statuses), 2) %>%)
    </div>
  <% end %>
</div>
