<% rules = Enum.uniq(Map.keys(@restrictions) ++ Map.keys(@restricted)) %>
<strong>Restrictions:</strong><br />
<ul>
<%= for rule <- rules do %>
  <% restricts = Map.get(@restrictions, rule, []) %>
  <% restricted = Map.get(@restricted, rule, []) %>
  <%= if restricts != [] do %>
    <li class="inbound-<%= rule %>"><strong><%= FdWeb.RestrictionRuleView.name(:inbound, rule) %>:</strong> <%= Enum.intersperse(for(i <- restricts,
    do: link(i.domain, to: instance_path(@conn, :show, i))), ", ") %></Li>
  <% end %>

  <%= if restricted != [] do %>
    <li class="outbound-<%= rule %>"><strong><%= FdWeb.RestrictionRuleView.name(:outbound, rule) %>:</strong> <%= Enum.intersperse(for(i <-
    restricted, do: link(i.domain, to: instance_path(@conn, :show, i))), ", ") %></li>
  <% end %>
  <br/>
<% end %>
</ul>
