<%= FdWeb.InstanceView.render "_header.html", conn: @conn, instance: @instance %>

<h3>Federation restrictions</h3>

<%= render("_generic_list.html", conn: @conn, instance: @instance, restrictions: @restrictions, restricted: @restricted) %>

<p>
  <small>
    Not all policies may be disclosed by the server, remote servers or displayed by fediverse.network interface.
    <%= if @instance.nodeinfo do %>
      <%= link "View nodeinfo", to: instance_instance_path(@conn, :nodeinfo, @instance) %>.
    <% end %>
  </small>
</p>
