<%= FdWeb.InstanceView.render "_header.html", conn: @conn, instance: @instance %>

<h3>Federation restrictions</h3>

<%= if Enum.empty?(@policies) do %>
  No MRF policies enabled.
<% else %>
  <strong>Enabled MRF policies:</strong> <%= Enum.join(@policies, ", ") %>
<% end %>

<br />
<br />

<%= render("_generic_list.html", conn: @conn, instance: @instance, restrictions: @restrictions, restricted: @restricted) %>

<% exclusions = Map.get(@federation, "exclusions", false) %>
<%= if exclusions do %>
  <p><strong>Some restrictions are excluded from disclosure.</strong></p>
<% end %>

<p>
  <small>
    Not all policies may be disclosed by the server, remote servers or displayed by fediverse.network interface.
    <%= if @instance.nodeinfo do %>
      <%= link "View nodeinfo", to: instance_instance_path(@conn, :nodeinfo, @instance) %>.
    <% end %>
  </small>
</p>
