<%= if Map.get(@data, :notice) || Map.get(@data, :description) do %>
  <% description = Map.get(@data, :description) %>
  <% notice = Map.get(@data, :notice) %>
<p class="server-info">
  <%= if description, do: description %>
  <%= if notice do %>
    <%= if description do %><br /><% end %>
    <span class="text-info"><i><%= notice %></i></span>
  <% end %>
</p>
<% end %>

<%= if other_stats = Map.get(@data, :other_stats) do %>
  <small>
    Other statistics and lists:
    <%= Enum.intersperse(for({title, link} <- other_stats, do: link(title, to: link)), ", ") %>
  </small>
<% end %>

<hr style="border-color: white" class="my-3" />
