<%= render "_header.html", conn: @conn, instance: @instance %>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>at</th>
      <th>users</th>
      <th>statuses</th>
      <th>peers</th>
      <th>emojis</th>
      <th>version</th>
      <th>signup</th>
    </tr>
  </thead>
  <tbody>
    <%= for check <- @checks do %>
      <tr>
        <td><span class="badge badge-up-<%= to_string(check.up) %>">&nbsp;</span></td>
        <td><%= link format_date(check.updated_at, "normal"), to: instance_check_path(@conn, :show, @instance, NaiveDateTime.to_iso8601(check.updated_at)) %></td>
        <%= if check.error_s do %>
          <td colspan=6><strong class="text-danger"><%= check.error_s %></strong></td>
        <% else %>
          <td><%= number(check.users) %></td>
          <td><%= number(check.statuses) %></td>
          <td><%= number(check.peers) %></td>
          <td><%= number(check.emojis) %></td>
          <td><%= number(check.version) %></td>
          <td><%= check.signup %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

