<%= if @filters do %>
  <ul class="filters">
    <li class="filter">
      <strong>Status</strong>
      <ul class="list">
        <li><%= link "Up", to: instance_path(@conn, :index), class: active_class_bool(@filters["up"]=="true") %> 
          <%= display_stat(@stats,:mini, ["instances", "up"]) %></li>
        <li><%= link "Down", to: instance_down_path(@conn, :index), class: active_class_bool(@filters["up"] == "false") %> 
          <%= display_stat(@stats,:mini, ["instances", "down"]) %></li>
        <li><%= link "Newest", to: instance_newest_path(@conn, :index), class: active_class_bool(@filters["age"] == "newest") %>
          <%= display_stat(@stats,:mini, ["instances", "new"]) %></li>
        <li><%= link "Closed", to: instance_closed_path(@conn, :index), class: active_class_bool(@filters["closed"] == "true") %>
          <%= display_stat(@stats,:mini, ["instances", "dead"]) %></li>
        <li><%= link "All", to: instance_all_path(@conn, :index), class: active_class_bool(@filters["up"] == "all" or @filters["up"]==nil) %>
          <%= display_stat(@stats,:mini, ["instances", "alive"]) %></li>
      </ul>
    <li class="filter">
      <strong>Servers</strong>
      <ul class="list">
        <li><%= link "All", to: instance_path(@conn, :index), class: active_class_bool(@filters["server"] == "all" or @filters["server"] == "known") %></li>
        <%= for server = %{hidden: false} <- Fd.ServerName.list() do %>
          <%= unless (get_in(@stats, ["per_server", server.id, "instances", "up"])||0) == 0 do %>
            <li><%= link server.name, to: instance_server_path(@conn, :index, server.path), class: active_class_bool(@filters["server"]==server.path) %> 
              <%= display_stats(@stats,:mini, ["per_server", server.id, "instances"], ["up", "alive"]) %></li>
          <% end %>
        <% end %>
      </ul>
    </li>
  </ul>
  <hr class="my-3"/>

  <%= if data = server_data(@filters["server"]) do %>
    <div class="float-md-right">
      <%= if link = Map.get(data, :source), do: [content_tag(:strong, link("Source code", to: link, class: "btn btn-default")), raw("&nbsp;")] %>
      <%= if link = Map.get(data, :link) do %>
        <%= link(URI.parse(link).host <> " ❯", to: link, class: "btn btn-default") %>
      <% end %>
  </div>
  <% end %>

<h2>
  <%= if(server_data(@filters["server"]), do:
  img_tag("https://static.fediverse.network/icons/servers/#{Map.get(data, :id, "null")}.png?3", style: "max-height:
  42px;max-width:42px;")) %>
  <%= @title %></h2>

<% else %>
  <h2><%= @title %></h2>
<% end %>

<%= if Map.get(@conn.assigns, :tag) do %>
  <%= raw(Earmark.as_html!(@conn.assigns[:tag].description || "")) %>

  <br />
  <p>
    Instances: <%= @stats["instances"] %> - Users: <%= @stats["users"] %> - Statuses: <%= @stats["statuses"] %>
  </p>
<% end %>


<%= if @filters["server"] && @filters["server"]!="known" do %>
<div class="row justify-content-center statistic-rows">
  <% instances = get_in(@stats, ["per_server", Fd.ServerName.to_int(@filters["server"]), "instances", "up"]) %>
  <% instances_total = get_in(@stats, ["instances", "up"]) %>
  <% count = get_in(@stats, ["per_server", Fd.ServerName.to_int(@filters["server"]), "instances", "up"]) %>
  <% percentage = Float.round(percentage(instances_total, instances), 2) %>
  <%= statistic_column("Instances", "#{number(count)} (#{percentage}%)", class: "col") %>

  <% users = get_in(@stats, ["per_server", Fd.ServerName.to_int(@filters["server"]), "users", "up"]) %>
  <% users_total = get_in(@stats, ["users", "up"]) %>
  <% count =  get_in(@stats, ["per_server", Fd.ServerName.to_int(@filters["server"]), "users", "up"]) %>
  <% percentage =  Float.round(percentage(users_total, users), 2) %>
  <%= statistic_column("Users", "#{number(count)} (#{percentage}%)", class: "col") %>
  &nbsp;
  <% statuses = get_in(@stats, ["per_server", Fd.ServerName.to_int(@filters["server"]), "statuses", "up"]) %>
  <% statuses_total = get_in(@stats, ["statuses", "up"]) %>
  <% count = get_in(@stats, ["per_server", Fd.ServerName.to_int(@filters["server"]), "statuses", "up"]) %>
  <% percentage = Float.round(percentage(statuses_total, statuses), 2) %>
  <%= statistic_column("Statuses", "#{number(count)} (#{percentage}%)", class: "col") %>
</div>
<% else %>
  <p>
  Users: <%= display_stat(@stats, :inline, ["users", "up"]) %> - Statuses: <%= display_stat(@stats, :inline, ["statuses", "up"]) %>
</p>
<% end %>

<%= if @filters["server"] && @filters["server"]!="known"  && @filters["up"] == "true"  do %>
  <% s_id = Fd.ServerName.to_int(@filters["server"]) %>
  <% versions = get_in(@stats, ["per_server", s_id, "versions"]) %>
  <% total = get_in(@stats, ["per_server", s_id, "instances", "up"]) %>
  <% percents = Enum.map(versions, fn({version, count}) -> [to_string(version || "?"), count,
    Float.round(percentage(total, count), 2)] end)
  |> Enum.sort_by(fn([version, _, _]) -> version end) %>
  <small>Versions repartition:</small><br />
  <svg class="percent-horizontal-bar"
       data-controller="percent-horizontal-bar"
       data-ts="<%= Jason.encode!(percents) %>"
       data-sort-by="key"
       data-sort-order="desc"
       data-color-scale="sequential"
       data-scheme="PuBuGn"
       >
  </svg>
<% end %>

  <%= server_info(@filters["server"]) %>

<%= if @filters["server"] == "known" && @filters["up"] == "true" do %>
  <% total = get_in(@stats, ["instances", "up"]) %>
  <% per_server = Enum.reduce(Fd.ServerName.list(), [], fn(server, acc) ->
    up = get_in(@stats, ["per_server", server.id, "instances", "up"])
    [ [server.name, up, Float.round(percentage(total, up), 2)] | acc]
  end) %>
  <svg class="percent-horizontal-bar"
       data-controller="percent-horizontal-bar"
       data-ts="<%= Jason.encode!(per_server) %>"
       data-sort-by="value"
       data-sort-order="desc"
       data-color-scale="sequential"
       data-scheme="Rainbow"
       >
  </svg>
<% end %>

<div>
<%= FdWeb.SortFilterView.select_sort(@filters) %>
<table class="table table-condensed table-hover">
  <thead>
    <tr class="">
      <th></th>
      <th>Instance</th>
      <th>Server</th>
      <th>Users</th>
      <th>Statuses</th>
      <th>Peers</th>
      <th>Signup</th>
      <%= if @filters["emojis"] do %>
        <th>Emojis</th>
      <% end %>
      <%= if @filters["age"] do %>
        <th>Age</th>
      <% end %>
      <%= if @filters["max_chars"] do %>
        <th>Max Chars</th>
      <% end %>

    </tr>
  </thead>
  <tbody class="clusterize-content">
    <%= for {instance, idx} <- Enum.with_index(@instances) do %>
    <tr class="">
      <td><span class="badge badge-up-<%= to_string(instance.up) %>">&nbsp;</span></td>
      <td>
        <%= if @filters["statuses"] || @filters["users"], do: [to_string(idx+1), ".", raw("&nbsp;")]%>
        <%= list_instance_name(@conn, instance) %>
        <%= if Enum.any?(instance.tags || [], fn(tag) -> tag.name == "Adult" end) do %>
          &nbsp;<sup title="Adult">🔞</sup>
        <% end %>
        <%= if instance.dead, do: [raw("&nbsp;"), content_tag(:sup, "☨", [title: "Dead"])] %>
      <%= if Fd.Instances.Instance.use_accept_list?(instance), do: [raw("&nbsp;"), content_tag(:sup, raw("&#127763;"),
        [title: "Restricted federation by accept list"])] %>
        <%= if instance.monitor, do: [raw("&nbsp;"), content_tag(:sup, raw("&#128065;"), [title: "Monitored"])] %>
      </td>
      <td><%= Fd.ServerName.fork_name(instance) %> <%= simplify_version(instance.version) %></td>
      <td>
        <%= if instance.users do %>
          <%= chart_tag_lazy(@conn, idx, instance, "users_new.png", [style: "sparkline"], height: 16, width: 50) %>
          &nbsp;
        <% end %>
        <%= instance.users %>
      </td>
      <td >
        <%= if instance.statuses do %>
          <%= chart_tag_lazy(@conn, idx, instance, "statuses_new.png", [style: "sparkline"], height: 16, width: 50) %>
          &nbsp;
        <% end %>
        <%= instance.statuses %>
      </td>
      <td><%= instance.peers %></td>
      <td><%= inspect(instance.signup) %></td>
      <%= if @filters["emojis"] do %>
        <td><%= instance.emojis %></td>
      <% end %>
      <%= if @filters["age"] do %>
        <td><%= instance.inserted_at %></td>
      <% end %>
      <%= if @filters["max_chars"] do %>
        <td><%= instance.max_chars %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
  </table>
</div>
</div>
