<%= render "_header.html", conn: @conn, instance: @instance %>

<h3>Nodeinfo</h3>

<%= link "View with catgirl.science nodeinfo viewer", to: "https://catgirl.science/misc/nodeinfo.lua?" <> @instance.domain %>

<pre><code>
<%= inspect(@instance.nodeinfo, pretty: true) %>
</code></pre>

<small>Last updated: <%= format_date(@instance.updated_at) %></small>
