<%= render "_header.html", conn: @conn, instance: @instance %>

<ul>
  <li>activity score:
    <ul>
      <%= for {period, scores} <- Fd.ActivityScore.get() do %>
        <li><strong><%= period %></strong>: <small>(total new statuses: <%= Map.get(scores, :new_statuses) %> - total new users: <%=
        Map.get(scores, :new_users) %>)</small><br />
      <% stats =  Map.get(scores, @instance.id, %{}) %>
        users: <%= Map.get(stats, :new_users) %> - rank <%= Map.get(stats, :user_rank) %> <small><%= Map.get(stats,
        :user_activity_fraction) %></small><br />
        status: <%= Map.get(stats, :new_statuses) %> - rank <%= Map.get(stats, :status_rank) %> <small><%= Map.get(stats,
        :status_activity_fraction) %></small>
        </li>
      <% end %>
    </ul>
  </li>
</ul>

