<%= if @instance.domain == "exited.eu" do %>
<style type="text/css">
* {
  background-color: green;
  color: white;
  font-family: "Comic Sans MS";
}
a {
  color: yellow
}
a:hover {
  color: pink;
}
</style>
<% end %>

<%= render "_header.html", conn: @conn, instance: @instance %>

<div class="row justify-content-center statistic-rows">
  <%= statistic_column("Users", number(@instance.users), class: "col") %>
  <%= statistic_column("Statuses", number(@instance.statuses), class: "col") %>
  <%= statistic_column("Peers", number(@instance.peers), class: "col") %>
  <%= statistic_column("Emojis", number(@instance.emojis), class: "col") %>
  <%= statistic_column("Max Chars", number(@instance.max_chars), class: "col") %>
  <%= if @instance.server do %>
    <div class="col">
      <div class="statistic">
        <div class="label">
          <%= link(Fd.ServerName.from_int(@instance.server || 0), to: Fd.ServerName.route_path(@instance.server || 0)) %>
        </div>
        <div class="value">
          <%= simplify_version(@instance.version || "?") %>
        </div>
        <%= version_build_label(@instance.version) %>
      </div>

    </div>
  <% end %>
</div>
<%= if @instance.domain == "exited.eu" do %>
  <div class="alert alert-danger" style="font-size:200%;">
    !! this is not a gab instance !!
  </div>
<% end %>

<%= if @instance.dead do %>
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">This instance is closed</h4>
    <%= if @instance.settings && @instance.settings.dead_reason do %>
      <%= raw Earmark.as_html!(@instance.settings.dead_reason) %>
    <% else %>
      <p class="mb-0">It have been unavailable for too long or marked manually.</p>
    <% end %>
  </div>
<% else %>
  <%= if @instance.up == false do %>
     <%= if @instance.settings && @instance.settings.maintenance_mode == true do %>
      <div class="alert alert-secondary">
     <% else %>
      <div class="alert alert-warning">
     <% end %>
      <h4 class="alert-heading">This instance is temporarily unavailable</h4>
      <p class="mb-0">
        <%= if check = List.first(@checks) do %>
          <strong><%= check.error_s %></strong> <%= format_date(check.updated_at) %>
        <%= unless (@last_up_check == nil) do %>
            and was last
          available <%= format_date(@last_up_check.updated_at) %><% end %><br />
        <% end %>
        <%= if @instance.settings && @instance.settings.maintenance_mode == true do %>
          <strong>The administrator of this instance has enabled maintenance mode.</strong><br />
        <% end %>
        <i><small>The crawler is still in beta and may report incorrect checks. <%= unless @instance.monitor, do:
        "This instance is only checked one time per hour." %></small></i>
      </p>
    </div>
  <% end %>
<% end %>
<%= if Fd.Instances.Instance.hidden?(@instance) do %>
  <div class="alert alert-light">
    <strong>This is a private instance</strong>. <small>Name, domain and links are hidden in lists.</small>
  </div>
<% end %>
<%= if Fd.Instances.Instance.use_accept_list?(@instance) do %>
  <div class="alert alert-dark">
    <strong>This instance restricts federation by using a list of accepted instances</strong>.
  </div>
<% end %>
<%= if (@instance.server||0) == 0 do %>
  <div class="alert alert-dark">
    <strong>Warning:</strong> Instances with an unknown server <strong>may for now not be real instances</strong>. The crawler is still under development and may stumble upon non-instances. This will be fixed soon.
  </div>
<% end %>

<%= if description = Map.get(@instance.mastapi_instance || %{}, "description") do %>
  <div class="instance-description">
    <%= raw HtmlSanitizeEx.Scrubber.scrub(Earmark.as_html!(description), FdWeb.Scrubber) %>
  </div>
<% end %>

<div class="row">
  <div class="col-sm">
    <ul class="infolist">
      <li>
        <span class="label">Server</span>
        <span class="value">
          <%= if @instance.server do %>
            <%= img_tag("https://static.fediverse.network/icons/servers/#{@instance.server}.png?3", class: "icon") %>
            &nbsp;
            <%= link(Fd.ServerName.from_int(@instance.server), to: Fd.ServerName.route_path(@instance.server)) %>
            <%= if Fd.ServerName.fork_link(@instance) do %>
              <% {name, link} = Fd.ServerName.fork_link(@instance) %>
              <i><%= link name, to: link %></i>
            <% end %>
          <% else %>
            Unknown
          <% end %>
        </span>
        <ul>
          <%= if !@instance.semver && @instance.version do %>
            <li>
              <span class="label">Version</span>
              <span class="value"><%= @instance.version %></span>
            </li>
          <% end %>

          <%= if @instance.semver do %>
            <li>
              <span class="label">Version</span>
              <span class="value" title="<%= @instance.version %>">
                <strong><%= @instance.semver.vsn %></strong> <%= Enum.join(@instance.semver.pre, " ") %>
              </span>
            </li>
            <%= if @instance.semver.build && @instance.semver.build != [] do %>
              <li>
                <span class="label">Build</span>
                <span class="value"><%= Enum.join(@instance.semver.build, ", ") %>
              </li>
            <% end %>
          <% end %>

          <%= if !Enum.empty?(supported_protocols(@instance)) do %>
            <li>
              <span class="label">Protocols</span>
              <span class="value"><%= supported_protocols_list(@instance) %></span>
            </li>
          <% end %>
          <%= if !Enum.empty?(@instance.features || []) do %>
            <li>
              <span class="label">Features</span>
              <span class="value"><%= @instance.features |> Enum.filter(fn(f) -> f end) |> Enum.join(", ") %>
            </li>
          <% end %>
        </ul>
        <br />
        <%= FdWeb.InstanceFederationView.overview(@conn, @instance) %>
        <%= if @instance.nodeinfo && !Enum.empty?(@instance.nodeinfo) do %>
          <li><%= link "NodeInfo", to: instance_instance_path(@conn, :nodeinfo, @instance) %></li>
          <br />
        <% end %>
          <br />
        <li>Found <%= format_date(@instance.inserted_at) %></li>
        <%= if Map.get(@instance.settings || %{}, :fedibot) do %>
          <% nick = Fd.Pleroma.sanitize_nick(@instance.domain) %>
          <li>Follow changes at <%= remote_follow(@conn, nick, "@#{nick}@fediverse.network", class: "btn btn-link") %></li>
        <% end %>
        <%= if Fd.ServerName.capab?(@instance, "fediverse.space") && @instance.users >= 10 do %>
          <li><%= link("Visualize on fediverse.space", to: "https://fediverse.space/instance/#{@instance.domain}") %></li>
        <% end %>
        <%= unless @instance.tags == [] do %>
          <li>Tagged 
            <%= Enum.intersperse(for(tag <- @instance.tags, do: link(tag.name, to: instance_tag_path(@conn, :index, tag.name))), ", ") %>
        <% end %>
    </ul>
  </div>
  <div class="col-sm">
    <ul class="infolist">
      <li>
        <span class="label">Host</span>
        <ul>
        <%= unless Enum.empty?(@instance.countries || []) do %>
          <li>
            <span class="label">Country</span>
            <span class="value"><%= Fd.Cldr.List.to_string!(@instance.countries) %></span>
          </li>
        <% end %>
        <%= unless Enum.empty?(@instance.ips || []) do %>
          <li>
            <span class="label">IPs</span>
            <span class="value"><%= Fd.Cldr.List.to_string!(@instance.ips) %></span>
          </li>
        <% end %>
        <%= unless Enum.empty?(@instance.isps || []) do %>
          <li>
            <span class="label">Hosted at</span>
            <span class="value"><i><%= Fd.Cldr.List.to_string!(@instance.isps) %></i></span>
          </li>
        <% end %>
          <%= if Fd.Domain.total_count(@host_stats, @instance.domain_base) > 1 do %>
          <li>
            <span class="label">Domain</span>
            <span class="value">
              <%= link [idna(@instance.domain_base)], to: instance_domain_path(@conn, :index, idna(@instance.domain_base), up: "all", server: "all") %>
            </span>
          </li>
        <% end %>
          <%= if @instance.domain_suffix do %>
            <li>
              <span class="label">TLD</span>
              <span class="value">
                <%= link [".", idna(@instance.domain_suffix)], to: instance_tld_path(@conn, :index, idna(@instance.domain_suffix)) %>
              </span>
            </li>
          <% end %>
        </ul>
      </li>
    </ul>
  </div>
</div>

<%= if @instance.statuses || @instance.users do %>
  <h4>Activity
    <small><small><%= link "Statistics >", to: instance_instance_path(@conn, :stats, @instance)%></small></small>
  </h4>

  <%= if @instance.statuses do %>
    <div class="miniGraph" data-controller="graph" data-title="New Statuses" data-id="mini-statuses-graph" data-ts='<%= raw Poison.encode!(@stats.mg_new_statuses) %>'>
      <div id="mini-statuses-graph"></div>
    </div>
  <% end %>
  <%= if @instance.users do %>
  <div class="miniGraph" data-controller="graph" data-title="New Users" data-id="mini-users-graph" data-ts='<%= raw Poison.encode!(@stats.mg_new_users) %>'>
    <div id="mini-users-graph"></div>
  </div>
  <% end %>
<% else %>
  <p class="text-info">
    Activity statistics are not available for this instance.
  </p>
<% end %>

<%= if @checks do %>
  <h4>Availablity
    <%= if avail = Fd.Instances.get_uptime_percentage(@instance.id) do %>
      <%= Float.floor(Fd.Instances.get_uptime_percentage(@instance.id))%>%
      <small><small class="text-muted">(last 31 days)</small></small>
    <% end %>
    <small><small><%= link "Checks history >", to: instance_instance_path(@conn, :checks, @instance)%></small></small>
  </h4>

  <div class="check-badges-list">
    <%= for check <- @checks do %><%= link(content_tag(:span, raw("&nbsp;"),
                class: "check check-#{to_string(check.up)}"),
                title: check.updated_at,
                to: instance_check_path(@conn, :show, @instance, NaiveDateTime.to_iso8601(check.updated_at))) %><% end %>
    <p class="text-muted">
    <small>displaying from <%= format_date(List.first(@checks).updated_at) %> to <%= format_date(List.last(@checks).updated_at) %></small>
    </p>
  </div>
<% else %>
  <p class="text-info">
    Availability statistics are not available for this instance.
  </p>
<% end %>

<p class="text-muted text-center"><small>
  <%= if @instance.monitor do %>
    updating every minute (monitoring enabled),
  <% else %>
    updating evey 30 minutes,
  <% end %>
  last <%= format_date(@instance.updated_at) %> (#<%= @instance.id %>)
</small></p>
