/* This file is for your main application css. */

@import '_cssdropdown';

a.gablink {
  font-family: "Comic Sans MS";
}

a.gablink:after {
  content: " 🐸";
}
#tabz h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

.smaller {
  font-size: 0.8rem;
}

.instance-description {
  max-height: 100px;
  padding-left: 1rem;
  margin-left: 1rem;
  border-left: 2px solid lightgrey;
  overflow: hidden;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.instance-description p:last-child {
  margin-bottom: 0;
}

.chart{
    width: 33%;
    text-align:center;
    display: inline-block;
}

img.icon {
  width: 16px;
  height: 16px;
}

a.hidden-link, a.hidden-link:hover {
  color: inherit;
  text-decoration: none;
}

.miniGraph {
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;

  src: url(/fonts/WorkSans-Regular.woff2) format('woff2'), url(/fonts/WorkSans-Regular.ttf) format('ttf');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: bold;
  src: url(/fonts/WorkSans-SemiBold.woff2) format('woff2'), url(/fonts/WorkSans-SemiBold.ttf) format('ttf');
}


/* FF fix for .table.table-responsive */
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

/* Phoenix flash messages */
.alert:empty { display: none; }

* {
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a.active {
  font-weight: bold;
}

.badge.badge-up-true {
  background-color: green;
}
.badge.badge-up-false {
  background-color: red;
}

.alert h4 {
  margin: 0;
  padding: 0;
}

footer {
  margin-top: 4rem;
  padding-top: 0.5rem;
  border-top: 1px solid lightgrey;
}
footer p.text-muted {
  font-size: 0.8rem;
}

header.header {
  border-bottom: 1px solid grey;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
header.header h1 a {
  line-height: 71px;
}
header.header h1 a:hover, header.header h1 a:active {
  color: #d64d4d;
  text-decoration: none;
}
header.header h1 > a > img {
  height: 71px;
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: #d64d4d;
}

thead, th {
  position: sticky;
  -webkit-position: sticky;
  top: 0;
  background: #fff;
}

p.server-info {
  margin-top: 2rem;
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 2px solid grey;
}

ul.filters {
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}
ul.filters > li.filter {
}
ul.filters > li.filter strong::after {
  content: ":";
  font-weight: normal;
}
ul.filters > li.filter > ul.list {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 1em;
}
ul.filters > li.filter > ul.list > li {
  display: inline;
  color: grey;
  margin-left: 0;
  margin-right: 0;
}
ul.filters > li.filter > ul.list > li:not(:last-child):after {
  content: "|";
  margin-left: 0.25em;
  margin-right: 0.25em;
  color: grey;
}

li.check-list {
  display: flex;
}
li.check-list > .check-info {
  display: inline-block;
  width: 2em;
  padding-right: 1rem;
}
li.check-list > .check-entry {
  display: inline-block;
  width: 0.5em;
  padding-right: 1rem;
}

div.check-badges-list {
  width: 100%;
  overflow: hidden;
}
div.check-badges-list > a > .check {
  display: inline-block;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  opacity: 0.9;
}
div.check-badges > a > .check:hover {
  opacity: 1;
}
div.check-badges-list > a > .check-true {
  background-color: #4c9937;
}
div.check-badges-list > a > .check-false {
  background-color: #d64d4d;
}
div.check-badges-list > a > .check-nil {
  background-color: orange;
}

div.statistic-rows div.col {
  text-align: center;
}
div.statistic-rows div.statistic {
  margin: 1em 0;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
}

div.statistic-rows div.statistic > div.value, div.statistic-rows div.statistic > div.label {
  display: inline;
  vertical-align: middle;
}
div.statistic-rows div.statistic > div.value {
  font-size: 1.5em;
  line-height: 1em;
  text-align: center;
}
div.statistic-rows div.statistic > div.label {
  color: inherit;
  display: block;
  font-size: 0.9em;
  text-align: center;
}

/* percentHorizontalBarController */
.percent-horizontal-bar rect {
}

.percent-horizontal-bar text {
  fill: #fff;
  font: 10px sans-serif;
  text-anchor: initial;
}
.percent-horizontal-bar {
  background-color: #fff;
}

.percent-horizontal-bar-tooltip {
    position: absolute;
    text-align: center;
    min-width: 80px;
    height: 18px;
    padding: 2px;
    font: 12px sans-serif;
    background: grey;
    color: white;
    border: 0px;
    pointer-events: none;
    z-index: 999;
}

