
.css-dropdown {
  position: relative;
  display: inline-block;
}

.css-dropdown > a, .css-dropdown > button {
  /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;*/
  background-color: white;
  /*border: 1px solid #ccc;
  padding: 6px 20px 6px 10px;
  border-radius: 4px;*/
  border: 0px solid #ccc;
  padding: 0px;
  padding-right: 20px;
  padding-bottom: 6px;
  border-radius: 4px;
  display: inline-block;
  color: black;
  text-decoration: none;
}
.css-dropdown > a, .css-dropdown > button.bold {
  font-weight: bold;
}
.css-dropdown > a:before, .css-dropdown > button:before {
  position: absolute;
  right: 7px;
  top: 12px;
  content: ' ';
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.css-dropdown input[type=checkbox] {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  margin: 0px;
  opacity: 0;
}

.css-dropdown input[type=checkbox]:checked {
  position: fixed;
  z-index:+0;
  top: 0px; left: 0px; 
  right: 0px; bottom: 0px;
}

.css-dropdown ul {
  position: absolute;
  top: 18px;
  border: 1px solid #ccc;
  border-radius: 3px;
  left: 0px;
  list-style: none;
  padding: 4px 0px;
  display: none;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,.175);
}

.css-dropdown input[type=checkbox]:checked + ul {
  display: block;
  z-index: 999;
}

.css-dropdown ul li {
  display: block;
  padding: 0;
  margin: 0;
}

.css-dropdown ul li a {
  display: block;
  padding: 6px 20px;
  white-space: nowrap;
  min-width: 100px;
}

.css-dropdown ul li a:hover {
  background-color: #F5F5F5;
  cursor: pointer;
  z-index: 999;
}

.css-dropdown ul li a {
  text-decoration: none;
  display: block;
  color: black
}

.css-dropdown .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
  font-size: 1px;
  padding: 0;
}
