<div class="float-md-right">
  <%= link "summary", to: instance_path(@conn, :show, @instance), class: "btn btn-default" %>
  <%= link "stats", to: instance_instance_path(@conn, :stats, @instance), class: "btn btn-default" %>
  <%= link "checks", to: instance_instance_path(@conn, :checks, @instance), class: "btn btn-default" %>
  <%= link(idna(@instance.domain) <> " ❯", to: "https://#{@instance.domain}", class: "btn btn-default") %>
</div>
<h2>
<h2>manage <strong><%= Fd.Util.idna(@instance.domain) %></strong></h2>

<%= form_for @changeset, manage_path(@conn, :update, @instance), fn f -> %>
  <%= if @admin do %>
    <div class="form-group">
      <label style="color:red">
        <%= checkbox f, :dead %>
        Dead <small>admin</small>
      </label>
    </div>
    <%= inputs_for f, :settings, fn s -> %>
      <div class="form-group">
        <label style="color:red">
          <%= checkbox s, :tlcrawl %>
          enable tlcrawl <small>admin</small>
        </label>
      </div>
      <div class="form-group">
        <label style="color:red">
          <%= checkbox s, :quarantine_restrictions %>
          quarantine restrictions (inboud not reported) <small>admin</small>
        </label>
      </div>
    <% end %>
  <% end %>
  <%= unless @instance.dead do %>
    <%= inputs_for f, :settings, fn s -> %>
      <div class="form-group">
        <label>
          <%= checkbox s, :hidden %>
          Hide instance domain/name/link in listings
          <br>
          <small class="text-muted">
            Warning: this setting may override your instance API (<a href="/info#private">more info</a>).
          </small>
        </label>
      </div>
    <% end %>
    <div class="form-group">
      <label>Tags</label>
      <%= text_input f, :tags, class: "form-control", value: Enum.map(@instance.tags, fn(t) -> t.name end) |> Enum.join(", ") %>
      <p class="text-muted mb-0">
      <small>Comma separated. Please use CamelCase words.</small>
      </p>
      <div class=""><%= error_tag f, :tags %></div>
    </div>

    <hr class="my-4"/>

    <h3>Federation</h3>
    <%= inputs_for f, :settings, fn s -> %>
      <div class="form-group">
        <label>Federation restrictions link</label>
        <%= text_input s, :federation_restrictions_link, class: "form-control" %>
        <p class="text-muted mb-0">
          If your server is not disclosing the federation restrictions by itself, you can add here a link to the list/information page which discloses it.
        </p>
        <div class=""><%= error_tag s, :federation_restrictions_link %></div>
      </div>
      <div class="form-group">
        <label>
          <%= checkbox s, :federation_whitelist %>
          This instance uses an accept list for federation
        </label>
      </div>
    <% end %>

    <hr class="my-4"/>

    <h3>Monitoring</h3>
    <div class="form-group">
      <label>
        <%= checkbox f, :monitor %>
        Enabled advanced monitoring
        <p class="text-muted mb-0">
        <small>More precise uptime and statistics. <a href="/monitoring">Learn more</a>.</small>
        </p>
      </label>
    </div>
    <%= inputs_for f, :settings, fn s -> %>
      <%= if @instance.monitor do %>
        <div class="form-group">
          <label>
            <%= checkbox s, :alerts_to_contact %>
            Send monitoring alerts to <%= @instance.email %>
          </label>
        </div>
        <div class="form-group">
          <label>
            <%= checkbox s, :maintenance_mode %>
            Handle downtime as planned maintenance. <b>Remember to turn this off when you're done!</b>
          </label>
        </div>
      <% end %>
      <div class="form-group">
        <label>
          <%= checkbox s, :keep_calm %>
          Crawl less frequently
          <br>
          <small class="text-muted">
            <%= if @instance.monitor, do: "Every half hour", else: "Every six hours" %>
          </small>
        </label>
      </div>
      <div class="form-group">
        <label>
          <%= checkbox s, :fedibot %>
          Enable instance fediverse bot
          <br>
          <small class="text-muted">
            Changes related to this instance will be posted to the fediverse at <code>@<%= Fd.Pleroma.sanitize_nick(@instance.domain) %>@fediverse.network</code>.
          </small>
        </label>
      </div>


    <% end %>
  <% else %>
    <%= inputs_for f, :settings, fn s -> %>
      <div class="alert alert-danger">
        <h4 class="alert-heading">This instance have been marked as dead</h4>
        <p class="mb-0">
          This happens automatically when the instance has been down for more than one month or if it's marked manually by
          administrators of fediverse.network.<br />
          <br />
          If this is a mistake please send an e-mail to <a href="mailto:root@fediverse.network">root@fediverse.network</a>.
        </p>
      </div>
      <fieldset>
        <div class="form-group">
          <label>
            <%= checkbox s, :hidden %>
            This instance have been closed
            <br>
            <small class="text-muted">
              Marks the instance as closed (instead of unreachable). Increase check delay by a month.
            </small>
          </label>
        </div>
        <div class="form-group">
          <label>Reason <small class="text-muted">Markdown enabled</small></label>
          <%= textarea s, :dead_reason, class: "form-control", rows: 5 %>
        </div>
      </fieldset>
    <% end %>
  <% end %>

  <%= submit "Save", class: "btn btn-primary" %>
  <%= link("Logout", to: manage_path(@conn, :logout), class: "btn btn-danger") %>
<% end %>
