<h2>Servers</h2>

<% total = get_in(@stats, ["instances", "up"]) %>
  <% per_server = Enum.reduce(Fd.ServerName.list(), [], fn(server, acc) ->
    up = get_in(@stats, ["per_server", server.id, "instances", "up"])
    [ [server.name, up, Float.round(percentage(total, up), 2)] | acc]
  end) %>
  <svg class="percent-horizontal-bar"
       data-controller="percent-horizontal-bar"
       data-ts="<%= Jason.encode!(per_server) %>"
       data-sort-by="value"
       data-sort-order="desc"
       data-color-scale="sequential"
       data-scheme="Rainbow"
       >
  </svg>
    <% countries = get_in(@stats, ["countries", "up"]) %>
    <% percents_countries = Enum.map(countries || %{}, fn({country, %{"instances" => count}}) -> [country, count,
      Float.round(percentage(total, count), 2)] end)
    |> Enum.sort_by(fn([_, count, _]) -> count end) %>
    <svg class="percent-horizontal-bar"
         data-controller="percent-horizontal-bar"
         data-ts="<%= Jason.encode!(percents_countries) %>"
         data-sort-by="value"
         data-sort-order="desc"
         data-color-scale="sequential"
         data-scheme="OrRd"
         >
    </svg>
    <% isps = get_in(@stats, ["isps", "up"]) %>
    <% percents_isps = Enum.map(isps || %{}, fn({isp, %{"instances" => count}}) -> [isp, count,
      Float.round(percentage(total, count), 2)] end)
    |> Enum.sort_by(fn([_, count, _]) -> count end) %>
    <svg class="percent-horizontal-bar"
         data-controller="percent-horizontal-bar"
         data-ts="<%= Jason.encode!(percents_isps) %>"
         data-sort-by="value"
         data-sort-order="desc"
         data-color-scale="sequential"
         data-scheme="Sinebow"
         >
    </svg>

<div class="list-group">
  <%
    instances_total = get_in(@stats, ["instances", "up"])
    users_total = get_in(@stats, ["users", "up"])
    statuses_total = get_in(@stats, ["statuses", "up"])
  %>
  <%= for {server, rank} <- @servers do %>
    <%
    instances = get_in(@stats, ["per_server", server.id, "instances", "up"])||0
    users = get_in(@stats, ["per_server", server.id, "users", "up"])||0
    statuses = get_in(@stats, ["per_server", server.id, "statuses", "up"])||0
    %>
    <div class="list-group-item">
      <h4>
        <strong>#<%= rank+1 %></strong>
        <%= img_tag("https://static.fediverse.network/icons/servers/#{Map.get(server, :id, "null")}.png?3", style: "max-height: 42px;max-width:42px;") %>
        <%= Map.get(server, :name) %>
      </h4>
        Instances: <%= number(instances) %> (<%= Float.round(percentage(instances_total, instances), 2) %>%)
        Users: <%= number(users) %> (<%= Float.round(percentage(users_total, users), 2) %>%)
        Statuses: <%= number(statuses) %> (<%= Float.round(percentage(statuses_total, statuses), 2) %>%)
        <br />
        <% versions = get_in(@stats, ["per_server", server.id, "versions"]) %>
        <% total = get_in(@stats, ["per_server", server.id, "instances", "up"]) || 0 %>
        <% percents = Enum.map(versions || %{}, fn({version, count}) -> [to_string(version || "?"), count,
          Float.round(percentage(instances, count), 2)] end)
        |> Enum.sort_by(fn([version, _, _]) -> version end) %>
        <small>Versions repartition:</small><br />
        <svg class="percent-horizontal-bar"
             data-controller="percent-horizontal-bar"
             data-ts="<%= Jason.encode!(percents) %>"
             data-sort-by="key"
             data-sort-order="desc"
             data-color-scale="sequential"
             data-scheme="PuBuGn"
             >
        </svg>

        <% countries = get_in(@stats, ["per_server", server.id, "countries"]) %>
        <% percents_countries = Enum.map(countries || %{}, fn({country, %{"instances" => count}}) -> [country, count,
          Float.round(percentage(instances, count), 2)] end)
        |> Enum.sort_by(fn([_, count, _]) -> count end) %>
        <small>Hosting countries:</small><br />
        <svg class="percent-horizontal-bar"
             data-controller="percent-horizontal-bar"
             data-ts="<%= Jason.encode!(percents_countries) %>"
             data-sort-by="value"
             data-sort-order="desc"
             data-color-scale="sequential"
             data-scheme="OrRd"
             >
        </svg>

        <% isps = get_in(@stats, ["per_server", server.id, "isps"]) %>
        <% percents_isps = Enum.map(isps || %{}, fn({isp, %{"instances" => count}}) -> [isp, count,
          Float.round(percentage(instances, count), 2)] end)
        |> Enum.sort_by(fn([_, count, _]) -> count end) %>
        <small>Hosting providers:</small><br />
        <svg class="percent-horizontal-bar"
             data-controller="percent-horizontal-bar"
             data-ts="<%= Jason.encode!(percents_isps) %>"
             data-sort-by="value"
             data-sort-order="desc"
             data-color-scale="sequential"
             data-scheme="Sinebow"
             >
        </svg>
    
    </div>
  <% end %>
</div>
