<h2>NodeInfo Validator</h2>

<p>
<strong>This tool allows you to validate the discovery and schema of a <a
                                                                   href="https://github.com/jhass/nodeinfo">NodeInfo</a>
  implementation.</strong>

This is mostly intended for developers. If you want to look up at an instance nodeinfo, go to the instance page.
</p>


<%= form_for @conn, nodeinfo_tool_path(@conn, :post), [as: :test], fn f -> %>
  <div class="form-group">
    <%= label f, :domain, "Domain" %>
    <%= text_input f, :domain, class: "form-control" %>
  </div>
  <%= submit "Test and validate", class: "btn btn-default" %>
<% end %>

