<% {class, text} = cond do
  @crawler.halted? ->
    {"badge-dark", "Error"}
  @crawler.has_nodeinfo? && Map.get(@crawler.nodeinfo_schema || %{}, "__schema_valid?", false) && @crawler.nodeinfo &&
  @crawler.nodeinfo[:all_valid?] ->
    {"badge-success", "Perfect!"}
  @crawler.has_nodeinfo? ->
    {"badge-warning", "Almost valid"}
  true ->
    {"badge-error", "Invalid"}
end %>

<h2><small>NodeInfo validator</small><br />
  <%= @hostname %> <%= content_tag(:span, text, class: "badge #{class}") %>
</h2>


<%= if error = Map.get(@crawler.nodeinfo, "error") do %>
  <strong><%= error %></strong>
<% end %>

<%= if @crawler.nodeinfo_schema && @crawler.nodeinfo_schema != %{} do %>
  <div><strong>discovery <small>/.well-known/nodeinfo</small></strong>
  <%= if Map.get(@crawler.nodeinfo_schema, "__schema_valid?", false) do %>
    <span class="badge badge-success">Valid</span>
  <% else %>
    <span class="badge badge-danger">Invalid</span>
  <% end %>
  <%= for link = %{"href" => _, "rel" => _} <- Map.get(@crawler.nodeinfo_schema, "links") do %>
    <br />Found: <strong><%= Map.get(link, "href") %></strong>: <%= Map.get(link, "rel") %>
  <% end %>

  <%= for {field, errors} <- Map.get(@crawler.nodeinfo_schema, "__schema_errors", []) do %>
    <br /><i><%= field %></i>: <%= Enum.join(errors, ", ") %>
  <% end %>
</strong>
<% end %>

<%= for {version, crawler = %{nodeinfo: nodeinfo}} <- Map.get(@crawler.nodeinfo || %{}, :results, %{}) do %>
  <%= unless Map.get(nodeinfo, "error") do %>
    <br /><br/>
    <div>
      <strong>nodeinfo <%= Map.get(nodeinfo, "__version") %> <small><%= Map.get(nodeinfo, "__path") %></small></strong>
      <%= if Map.get(nodeinfo, "__schema_valid?", false) do %>
        <span class="badge badge-success">Valid</span>
      <% else %>
        <span class="badge badge-danger">Invalid</span>
      <% end %>
    <%= for {field, errors} <- Map.get(nodeinfo, "__schema_errors", %{}) do %>
    <br /><i><%= field %></i>: <%= Enum.join(errors, ", ") %>
  <% end %>
    </div>
  <% end %>
<% end %>

